.hello1 {
    height: 800px;
}
.gd {
    margin-top: 150px;
    height: 500px;
    margin-bottom: 150px;
}
.diad1 {
    margin-top: 150px;
    height: 500px;
    margin-bottom: 150px;
}
.carousel-caption {
    position: relative;
    left: auto;
    right: auto;
}