html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.bgr {
    background-image: url(images/1911379.jpg);
    background-size:100% 100%; 
    background-color: rgba(255,255,255,0.7); 
    background-blend-mode: lighten;
    background-repeat: no-repeat;
}

.navbar-nav{
    font-family: Bookman Header !important;
    font-size: 22px;
}
.con{
    border:2px solid transparent;
     padding-left: 50px;
     padding-right: 50px;
 }
 .cont {
    border:2px solid transparent;
    background-color: rgba(0, 0, 0, 0.3);
    margin-left: 5%;
    margin-right: 5%;
    /* margin-top: 2%; */
    margin-bottom: 5%;
    color: black;
    
}
 
 .contact{
     padding-left: 90px;
     padding-right: 90px;
 }

 
.dropdown-item  a {
    border-style: ridge;
    border-color: black;
}
.dropdown-item:hover {
    background-color: rgb(100,100,100);
}
/* a:focus, a:hover {
    outline: 0 !important;
} */

 /* ul li:hover{
     background-color:rgb(211,211,211);
     font-weight: bolder;
 } */
 .carousel-item{
     padding-right: 0px;
     padding-left: 0px;
 }
 .hello1{
    height: 720px;
     width: 1250;
 }
 .gd {
     margin-left: auto;
     margin-right: auto;
     display: inline-block;
     width: 60%;
     margin-top: 5%;
     margin-bottom: 7%;
 }
 .hello2{
    height: 720px;
     width: 1300;
 }
 .hello3{
    height: 720px;
     width: 1300;
 }
 h3 {
     font-family: Bookman Header;
     font-style: bold;
 }

 div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  div.text_container {
    text-align: center;
    padding: 10px 20px;
    background-color: teal;
    color: white;
  }

  div.text_container a {
        color: white;
  }

  div.transbox {
    margin: 5%;
    margin-top: 0;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    height: 700px;
  }

 .a {
     height: 5px;
     background-color: black;
     margin-right: 10%;
     margin-left: 10%;
 }

 
#menu {
    margin-right: 5%;
}

#background_image {
    width : 100%;
    position : absolute;
    top: 0;
    left: 0;
}

.civil_photo {
    height:auto;
    width: 70%; 
    margin-left: 5%;
}

.svnit_photo {
    height:100px;
    width:200px;
    margin-left: 5%;
}

.tensegrity_photo {
    display: block;
     margin-left: auto;
     margin-right: auto; 
     width: 25%; 
     height: 25%;
}

.bridge_photo {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    width: 30%; 
    height: 30%;
}

.truss_photo {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
}

.bottom_location .rounded-social-buttons {
    margin-right: 10px;
}

 @media (max-width: 600.98px) { 
     .con{
         border:2px solid transparent;
     padding-left: 20px;
     padding-right: 10px;
     }
 }
 @media (max-width: 600.98px) { 
     .hello1{
         height: 250px;
         padding-right: 5%;
         padding-left: 5%;
         
     }
     .gd {
         margin-left: auto;
         margin-right: auto;
         display: inline-block;
         height: 150px;
         width: 80%;
         margin-top: 50px;
         margin-bottom: 50px;
     }
 }
 @media (max-width: 600.98px) { 
     .hello2{
         height: 250px;
     }
 }
 @media (max-width: 600.98px) { 
     .hello3{
         height: 250px;
     }
 }
 @media (max-width: 600.98px) { 
    .hello4{
        padding-top: 4px;
        text-align:center;
    }
    @media (max-width: 600.98px) { 
        .hello5{
            padding-top: 4px;
            text-align:center;
        }
        @media (max-width: 600.98px) { 
            .hello6{
                padding-top: 4px;
                text-align:center;
            }
            @media (max-width: 600.98px) { 
                .hello7{
                    text-align:center;
                }

@media (max-width : 600.98px) {
    .bgr {
        background-image: url(images/1911379.jpg);
        background-size:200% 125%; 
        background-color: rgba(255,255,255,0.7); 
        background-blend-mode: lighten;
        background-repeat: no-repeat;
    }
    
    .con {
        margin-right: 5%;
    }
    .svnit_photo {
        margin-left: 0%;
        height: 75px;
        width: 150px;
    }
    .civil_photo {
        display: block;
        margin-right: auto;
        margin-left: auto;
    }
    .hello1 {
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .heading {
        font-size: 35px;
    }
    .project_photo , .tensegrity_photo, .truss_photo {
        display: block;
        margin-right: auto;
        margin-left: auto;
        height: auto;
        width: 100%;
    }

    .bridge_photo{
        display: block;
        margin-right: auto;
        margin-left: auto;
        height: auto;
        width: 105%;
    }
   
}